<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">PAE UTEM  </a>
          
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Inicio</a></li>
            
            <li class="pure-menu-item"><a href="localhost:3000/welcome/menu" class="pure-menu-link">Iniciar Sesión</a> </li>

        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Aviso de ALerta Temprana <br>PAE-UTEM <br/></h1>
        <p class="splash-subhead">
            
        </p>
        
    
            <a href="/welcome/menu.html.erb" class="pure-button pure-button-primary">Iniciar aquí</a>
    
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Enlaces de Interes: </h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                  
                    
                   
                 <a href="http://www.utem.cl/" <li class="pure-menu-link"> Utem Oficial</li> </a 
                    </h3>
                
               
                
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <a href="https://academia.utem.cl/" <li class="pure-menu-link"> Academia Utem</li> </a    
               
                </h3>
               
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    
                <a href="http://reko.utem.cl/aula/index.php" <li class="pure-menu-link">Reko</li></a
                </h3>
              
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <a href=" http://www.universia.cl/"  <li <a href="#" class="pure-menu-link">Universia </li></a
                    
                </h3>
                <p>
                    
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"></h2>

            <p>
                
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Contactanos</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Nombre: </label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Email  </label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Contraseña: </label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>
                
                    
                    Desarrollado por: Gerson Peralta Rojas.
                                      Sebastian Cisternas Ocaranza.
                                      Alexis  Burgos Oyaneder.
                                      </h4>

                <h4>Más informacion</h4>
                <p>
                    www.petardas.com
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Pagina creada por alumnos de la Universidad Tecnologica Metropolitana
    </div>

</div>




</body>
</html>
