<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Muy-putos.com</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Inicio</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Ver putos</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Iniciar Sesión</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">El Gerson tiene la media tula</h1>
        <p class="splash-subhead">
            Clickee abajo para tener al mejor puto de su vida
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Iniciar aquí</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">¿Que opcion desea hoy?: </h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Prueba 1
                </h3>
                <p>
                    Al Alexis le gusta con mayo.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    No leas abajo xd
                </h3>
                <p>
                    No se con que rellenar pero si lees esto eres un otaku klio
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Sexo casual
                </h3>
                <p>
                    Mejor que tinder clickea aqui y conoce mujeres de tu edad
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Porno gratis
                </h3>
                <p>
                    clickea aqui y deja de pensar en las molestias de una mina pajeate ;)
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Ya no se me ocurre con que más llenar</h2>

            <p>
                Porque somos pocos pero locos el mejor team de puros cocos te invitamos a unirte
                a nuestra pagina ser de esta comunidad, participar y enviarnos tus pack.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Contacta a los putos más baratos y sensuales de chile</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Tú nombre: </label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Tú Email BB (K) </label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Tú Contraseña: </label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contactanos</h4>
                <p>
                    Contactate con el mejor team, somos como los power ranger pero feos 
                    tenemos la media tula y cobramos poco 
                    Team: Gerson el Basilisco Peralta.
                          Sebastian el Tulon Cisternas.
                          Alexis el Rompe portones Burgos.
                </p>

                <h4>Más informacion</h4>
                <p>
                    Esta aplicación web es la ostia tío que tenemos la liga
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Pagina creada por un weón enfermo mental pero orgulloso de el .
    </div>

</div>




</body>
</html>
