<body>
  <div id="Jane" class="w3-container person">
  <br>
  <center>
  <img class="w3-round w3-animate-top" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" style="width:40%;">
  </center>
  <H2 align="center" class="w3-opacity">Bienvenido al Sistema de Alerta Temprana UTEM (SAT UTEM)</H2>
  <hr>
  <p>En esta plataforma podrás encontrar funcionalidades que te ayuden a realizar una mejor gestión de la información academica de la Universidad, de manera integrada. Desarrollada por estudiantes
  de las carreras ingenieria en Informatica (21030) y Ingenieria civil en computación (21041), con el fin de apoyar al PAE, para la detección de problemas de alumnos de primera año.</p>
  <p>¡Mucho Exito les deseamos!,<br>Alexis Burgos Oyaneder<br>Sebastian Cisternas Ocaranza<br>Gerson Peralta Rojas<br>Alexander Rogers Valdes</p>
</div>
     
</div>
</body>
</html> 