<body>
  <div id="Jane" class="w3-container person">
  <br>
  <center>
  
  </center>
  <H2 align="center" class="w3-opacity">Bienvenido al Sistema de Alerta Temprana UTEM (SAT UTEM)</H2>
  <hr>
  <p>El Sistema de Alerta Temprana UTEM SAT UTEM es un instrumento guía para la entrevista individual que se realiza a los estudiantes que ingresan a primer semestre, la finalidad del mismo es identificar anticipadamente algunos factores de riesgo que puedan dificultar la permanencia del estudiante en la educación superior, de tal manera, que desde la institución se puede brindar apoyo personalizado al estudiante para que avance de manera exitosa hacia su graduación.</p>
  <p>¡Mucho Exito les deseamos!</p>
  <div class="row">
  <div class="col-md-3">
  Alexis Burgos Oyaneder<br>Sebastian Cisternas Ocaranza<br>Gerson Peralta Rojas<br>Alexander Rogers Valdes</p>
  </div>
  <div class="col-md-9">
  <center>
  <img class="w3-round w3-animate-top" src="https://ccomputem.files.wordpress.com/2012/09/logo-utem.png" style="width:20%;">
  <img class="w3-round w3-animate-top" src="https://i.ibb.co/ThTXWwd/12345.png" style="width:60%;">
  </center>
  </div>
  </div>
  </div>
     
</div>


</body>


</html> 